<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/main.css' | url}}" />
  <link rel="stylesheet" href="{{'/assets/css/artwork.css' | url}}" />
</head>
<body>
    {% include "snippets/header.njk" %}
  <main class="artwork">
    <img class="main-img" src="{{('/images/' + image) | url}}"></img>
    <h1>{{title}}</h1>
    <p>{{technique}} auf {{ground}}</p>
    <p>{{dimensions}}</p>
    <br>
    <p>{{ content | safe }}</p>
  </main>
    {% include "snippets/footer.njk" %}
</body>
</html>
