{% for work in collections.artworks %}
<a href="{{ work.url | url }}"> 
    <img src="{{ '/thumbnails/' | append: work.data.image | url }}" alt="{{ work.data.title }}"/>
{{ work.data.title }}
</a>
{% endfor %}