<nav class="main-nav">
    <a href="{{'/' | url}}">Home</a>
    <a href="{{'/aboutme' | url}}">Über mich</a>
    <a href="{{'/impressum' | url}}">Impressum</a>
    <a href="{{'/datenschutz' | url}}">Datenschutz</a>
</nav>
