@import "../fonts/assistant/stylesheet.css";
@import "../fonts/open-sans/stylesheet.css";
@import "./headings.css";

* {
    --base-font-size: 2.5rem;
}

@media (min-width: 1024px) {
    * {
        --base-font-size: 1rem;
    }
}

*,
a {
    font-family: "Open Sans";
    --top-bar-height: 80px;
    --default-text-color: #000;
    font-size: calc(1 * var(--base-font-size));
}




a,
a:link,
a:visited {
    text-decoration: none;
    color: #063f62;
    font-weight: 900;
}

a:hover {
    background-color: #ffcb47;
}

main {
    margin: 1rem;
}

p {
    margin-bottom: 0.5rem;
    line-height: calc(1.5 * var(--base-font-size));
}

strong {
    font-weight: 900;
}