.gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.gallery a{
    display: block;
    width: 50%;
}

@media (min-width: 600px) {
    .gallery a {
        width: 33.333%;
    }
}

@media (min-width: 900px) {
    .gallery a {
        width: 25%;
    }
}

.gallery a .thumb {
    display: block;
    overflow: hidden;
    margin: 0.5rem;
    border-radius: 8px;
}

.gallery a img{
    display: block;
    width: 100%;
    transition: transform 0.3s ease;
}

.gallery a:hover img {
    transform: scale(1.1);
}

.gallery a p {
    margin-left: 0.5rem;
}