@import "./reset.css";
@import "../fonts/assistant/stylesheet.css";
@import "../fonts/open-sans/stylesheet.css";
@import "./headings.css";

*,
a {
    font-family: "Open Sans";
    --top-bar-height: 80px;
    --base-font-size: 1rem;
    --default-text-color: #000;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: #063f62;
    font-weight: 900;
}

a:hover {
    background-color: #ffcb47;
}

.header-img {
    width: 150px;
}

main {
    margin: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

footer {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
}