@import "../fonts/assistant/stylesheet.css";
* {
  --top-bar-height: 80px;
  --base-font-size: 1rem;
  --default-text-color: #000;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: Assistant;
  font-weight: 200;
  margin-bottom: 1rem;
}
body h1 {
  font-size: calc(2 * var(--base-font-size));
  position: absolute;
  top: 25px;
  left: 220px;
  opacity: 0.3;
}
body h2 {
  font-size: calc(1.6 * var(--base-font-size));
}
body h3 {
  font-size: calc(1.4 * var(--base-font-size));
}
body h4 {
  font-size: calc(1.2 * var(--base-font-size));
  font-weight: 400;
  text-transform: capitalize;
}
body h5 {
  font-size: calc(1.1 * var(--base-font-size));
  font-weight: 400;
  text-transform: capitalize;
}
body h6 {
  font-size: calc(1 * var(--base-font-size));
  font-weight: 400;
  text-transform: capitalize;
}

body {
  font-family: sans-serif;
}
body p {
  font-family: "Assistant";
  font-size: calc(1 * var(--base-font-size));
  font-weight: 300;
  line-height: calc(2 * var(--base-font-size));
}
body main {
  position: absolute;
  left: 220px;
  top: 100px;
  width: 50vw;
}
body menu {
  position: absolute;
  left: 15px;
  top: 100px;
  width: 200px;
}
body menu a {
  opacity: 0.3;
  transition: opacity 0.5s;
}
body menu a:hover {
  opacity: 1;
}
body .top-bar {
  width: 100%;
  display: flex;
  justify-content: left;
  height: var(--top-bar-height);
}
body .header-img {
  height: var(--top-bar-height);
}
body .footer-bar {
  height: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: white;
  z-index: 100;
  box-shadow: 0 0 15px 15px rgb(255, 255, 255);
}
body .lang-flag {
  width: 20px;
  height: 12px;
  border-radius: 3px;
  opacity: 0.3;
  transition: opacity 1s;
  margin-right: 3px;
}
body .lang-flag:hover {
  opacity: 1;
}
body .var-dump {
  font-size: 9px;
  display: inline-block;
  right: 0;
  position: absolute;
}
body a {
  text-decoration: none;
  color: var(--default-text-color);
  font-family: "Assistant";
  transition: text-shadow 0.5s;
}
body a:hover {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e60073, 0 0 20px #e60073, 0 0 25px #e60073, 0 0 30px #e60073, 0 0 35px #e60073;
}

/*# sourceMappingURL=style.css.map */
